@media only screen {
  .movies-list-item {
    overflow: hidden;
    background: #fff;
    margin-bottom: 12px;
    height: 231px;
  }

  .movies-list-item .poster {
    width: 154px;
    height: 231px;
    float: left;
  }

  .movies-list-item .poster + .item-content {
    margin-left: 154px;
  }

  .movies-list-item .item-content {
    height: 100%;
    padding: 18px 24px;
    position: relative;
  }

  .movies-list-item .movie-title {
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
  }

  .movies-list-item .movie-title a {
    cursor: pointer;
    color: #464646;
    text-decoration: none;
  }

  .movies-list-item .movie-title a:hover {
    color: #805be7;
  }

  .movies-list-item .release-date {
    font-size: 14px;
    font-style: italic;
    display: block;
    line-height: 20px;
    color: #999;
  }

  .movies-list-item .movie-overview {
    color: #666;
    margin-top: 24px;
    height: 104px;
    overflow: hidden;
  }

  .movies-list-item .movie-rate {
    position: absolute;
    top: 18px;
    right: 24px;
  }
}