@import url('https://fonts.googleapis.com/css?family=Cabin:400,700&subset=latin-ext');

* { margin: 0; padding: 0; box-sizing: border-box; outline: 0; }

@media only screen {
  html {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #464646;
    line-height: 1.6;
  }

  body {
    background: #f4f4f4;
    overflow-y: scroll;
  }

  h1,
  h2,
  h3 { font-weight: 400; }

  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 24px;
  }
}